<app-layout>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Produto</h5>
      <!--Linha formulario-->
      <div class="row">
        <div class="form-group col-12">
          <label for="nome" class="control-label">Nome:</label>
          <!--input especial do bootstrap para com div's para dar efeito ao campo-->
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text fa fa-search" id="btnGroupAddon">&#10150;</div>
            </div>
            <input type="text" class="form-control" placeholder="Pesquise pelo nome do produto"
              aria-label="Input group example" aria-describedby="btnGroupAddon" [(ngModel)]="produto.nome">
          </div><!--fim input-group-->

        </div>
      </div>
      <!--Linha botao pesquisar-->
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </div>
      </div>

      <!--Linha tabela-->
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Observação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of listaProduto">
                <th><input type="radio" name="selecionado" (change)="selecionar(produto)" /></th>
                <th>{{produto.codigo}}</th>
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.valor}}</td>
                <td>{{produto.observacao}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--Linha botao incluir-->
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12">
          <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
          <button type="button" class="btn btn-warning" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
          <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click)="remover()">Excluir</button>
        </div>
      </div>

    </div>
  </div>
</app-layout>