<app-layout>

  <!-- https://getbootstrap.com/docs/4.4/components/card/ -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cliente</h5>
      <div class="row">
        <div class="form-group col-12">
          <label for="nome" class="control-label">Nome:</label>
          <!--input especial do bootstrap para com div's para dar efeito ao campo-->
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">&#10150;</div>
            </div>
            <input type="text" class="form-control" placeholder="Pesquise pelo nome do cliente"
              aria-label="Input group example" aria-describedby="btnGroupAddon" [(ngModel)]="cliente.nome">
          </div><!--fim input-->
          
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>CEP</th>
                <th>UF</th>
                <th>Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of listaCliente">
                <th><input type="radio" name="selecionado" (change)="selecionar(cliente)" /></th>
                <th>{{cliente.codigo}}</th>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.cidade}}</td>
                <td>{{cliente.cep}}</td>
                <td>{{cliente.uf}}</td>
                <td>{{cliente.telefone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
          <button type="button" class="btn btn-warning" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
          <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click)="remover()">Excluir</button>
        </div>
      </div>

    </div>
  </div>

</app-layout>